  </div> <!-- Close out container class -->
</body> <!-- Close out body -->
<footer>
  <section>
    <h5>Phoenix</h5>
    <ul>
      <a href="#"><a href="#"><li>About Us</li></a>
      <a href="#"><li>Careers</li></a></a>
      <a href="#"><li>FAQ</li></a>
    </ul>
  </section>

  <section>
    <h5>Customer Service</h5>
    <ul>
      <a href="#"><li>Shopping Info</li></a>
      <a href="#"><li>Shipping Info</li></a>
      <a href="#"><li>Returns & Exchanges</li></a>
      <a href="#"><li>Billing & Payment</li></a>
      <a href="#"><li>International</li></a>
      <a href="#"><li>FAQ</li></a>
    </ul>
  </section>

  <section>
    <h5>Contact Us</h5>
    <ul>
      <a href="#"><li> Email Us </li></a>
      <p>Or</p>
      <li class="live-chat-bttn">Live Chat</li>
    </ul>
  </section>

  <p class="footer-copyright"> &copy;2021 Ahrianna Daniels </p>
</footer>
