<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Phoenix</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="auth-nav">
      <a href="#">Login</a>
      <a href="#">Sign Up</a>
    </div>
    <header class="main-header"> <!-- Header/Top Navigation -->
      <div class="logo-box"> <!-- <img src="images/icons/logo-icon.svg" alt="Logo image"> --> Phoenix </div>
      <div class="header-search-wrapper">
        <input type="text" name="search" placeholder="Search...">
        <img src="images/icons/search-icon.svg" alt="search icon">
      </div>

      <!-- Header Menu + Header Bag Icons -->
      <div class="header-menu-box"> <img src="images/icons/menu-icon.svg" alt="menu icon"> </div>
      <div class="header-bag-box"> <img src="images/icons/bag-icon.svg" alt="bag icon"></div>

      <div class="navigation-menu">
        <ul>
          <li>
            <a href="#" class="test"> New In</a>

              <div class="nav-dropdown-menu">
                <section class="nav-dropdown-section">
                  <h5>New Arrivals</h5>
                  <ul class="nav-sub-menu">
                    <a href="#"> <li>New Bedding</li> </a>
                    <a href="#"> <li>New Window</li> </a>
                    <a href="#"> <li>New Furniture</li> </a>
                    <a href="#"> <li>New Bath</li> </a>
                    <a href="#"> <li>New Lighting</li> </a>
                    <a href="#"> <li>New Outdoor</li> </a>
                    <a href="#"> <li>New Accessories</li> </a>
                  </ul>
                </section>

                <section class="nav-dropdown-section ">
                  <h5>Staff Picks</h5>
                  <ul class="nav-sub-menu">
                    <a href="#"> <li>Home Office</li> </a>
                    <a href="#"> <li>Best Sellers</li> </a>
                    <a href="#"> <li>Sping Decor</li> </a>
                    <a href="#"> <li>Summer Decor</li> </a>
                    <a href="#"> <li>Occassions</li> </a>
                  </ul>
                </section>

                <section class="nav-dropdown-section nav-dropdown-section-last">
                  <h5>Just In!</h5>
                  <ul class="nav-sub-menu">
                    <img src="/images/homeworks-sofa-04.jpg" class="nav-sub-menu-images" alt="">
                    <img src="/images/homeworks-sofa-05.jpg" class="nav-sub-menu-images" alt="">
                    <img src="/images/homeworks-sofa-06.jpg" class="nav-sub-menu-images" alt="">
                  </ul>
                </section>

              </div>
            </li>
          <!-- Next Link Starts Here -->
          <li>
            <a href="#" class="test"> Bedding</a>

              <div class="nav-dropdown-menu">
                <section class="nav-dropdown-section">
                  <h5>Popular Bedding</h5>
                  <ul class="nav-sub-menu">
                    <a href="#"> <li>Bedspreads</li> </a>
                    <a href="#"> <li>Sheets</li> </a>
                    <a href="#"> <li>Comforters</li> </a>
                    <a href="#"> <li>Quilts</li> </a>
                    <a href="#"> <li>White Goods</li> </a>
                    <a href="#"> <li>Bedskirts</li> </a>
                    <a href="#"> <li>Pillows & Shams</li> </a>
                  </ul>
                </section>

                <section class="nav-dropdown-section ">
                  <h5>Staff Picks</h5>
                  <ul class="nav-sub-menu">
                    <a href="#"> <li>Best Sellers</li> </a>
                    <a href="#"> <li>Spring Bedding</li> </a>
                    <a href="#"> <li>Summer Bedding</li> </a>
                    <a href="#"> <li>Occassions</li> </a>
                  </ul>
                </section>

                <section class="nav-dropdown-section nav-dropdown-section-last">
                  <h5>Just In!</h5>
                  <ul class="nav-sub-menu">
                    <img src="/images/homeworks-blanket-01.jpg" class="nav-sub-menu-images" alt="">
                    <img src="/images/homeworks-decorative-pillow-01.jpg" class="nav-sub-menu-images" alt="">
                    <img src="/images/homeworks-pillow-set-01.jpg" class="nav-sub-menu-images" alt="">
                  </ul>
                </section>

              </div>
            </li>
            <!-- Next Link Starts Here -->
            <li>
              <a href="#" class="test"> Window</a>

                <div class="nav-dropdown-menu">
                  <section class="nav-dropdown-section">
                    <h5>Popular Window</h5>
                    <ul class="nav-sub-menu">
                      <a href="#"> <li>Bedroom Curtains</li> </a>
                      <a href="#"> <li>Kitchen Curtains</li> </a>
                      <a href="#"> <li>Sheer Curtains</li> </a>
                      <a href="#"> <li>Valances</li> </a>
                      <a href="#"> <li>Grommet Panels</li> </a>
                      <a href="#"> <li>Rod-Pocket Pannels</li> </a>
                      <a href="#"> <li>Blackout Curtains</li> </a>
                    </ul>
                  </section>

                  <section class="nav-dropdown-section ">
                    <h5>Staff Picks</h5>
                    <ul class="nav-sub-menu">
                      <a href="#"> <li>Best Sellers</li> </a>
                      <a href="#"> <li>Spring Curtains</li> </a>
                      <a href="#"> <li>Enery Saver</li> </a>
                      <a href="#"> <li>Occassions</li> </a>
                    </ul>
                  </section>

                  <section class="nav-dropdown-section nav-dropdown-section-last">
                    <h5>Just In!</h5>
                    <ul class="nav-sub-menu">
                      <img src="/images/homeworks-window-sheer-01.jpg" class="nav-sub-menu-images" alt="">
                      <img src="/images/homeworks-window-sheer-02.jpg" class="nav-sub-menu-images" alt="">
                      <img src="/images/homeworks-window-valance-01.jpg" class="nav-sub-menu-images" alt="">
                    </ul>
                  </section>

                </div>
              </li>
              <!-- Next Link Starts Here -->
              <li>
                <a href="#" class="test"> Furniture</a>

                  <div class="nav-dropdown-menu">
                    <section class="nav-dropdown-section">
                      <h5>Popular Furniture</h5>
                      <ul class="nav-sub-menu">
                        <a href="#"> <li>Sofas $ Sofa Beds</li> </a>
                        <a href="#"> <li>Chairs & Recliners</li> </a>
                        <a href="#"> <li>Kitchen Furniture</li> </a>
                        <a href="#"> <li>Accent Furniture</li> </a>
                        <a href="#"> <li>Decorative</li> </a>
                        <a href="#"> <li>Home Office</li> </a>
                        <a href="#"> <li>Storage</li> </a>
                      </ul>
                    </section>

                    <section class="nav-dropdown-section ">
                      <h5>Staff Picks</h5>
                      <ul class="nav-sub-menu">
                        <a href="#"> <li>Best Sellers</li> </a>
                        <a href="#"> <li>Living Room Resets</li> </a>
                        <a href="#"> <li>French Decor</li> </a>
                        <a href="#"> <li>Occassions</li> </a>
                      </ul>
                    </section>

                    <section class="nav-dropdown-section nav-dropdown-section-last">
                      <h5>Just In!</h5>
                      <ul class="nav-sub-menu">
                        <img src="/images/homeworks-sofa-07.jpg" class="nav-sub-menu-images" alt="">
                        <img src="/images/homeworks-mordern-chair-01.jpg" class="nav-sub-menu-images" alt="">
                        <img src="/images/homeworks-deep-accent-chair-01.jpg" class="nav-sub-menu-images" alt="">
                      </ul>
                    </section>

                  </div>
                </li>
                <!-- Next Link Starts Here -->
                <li>
                  <a href="#" class="test"> Bath</a>

                    <div class="nav-dropdown-menu">
                      <section class="nav-dropdown-section">
                        <h5>Popular Bath</h5>
                        <ul class="nav-sub-menu">
                          <a href="#"> <li>Towels</li> </a>
                          <a href="#"> <li>Shower Curtains</li> </a>
                          <a href="#"> <li>Bathroom Storage</li> </a>
                          <a href="#"> <li>Bath Accessories</li> </a>
                        </ul>
                      </section>

                      <section class="nav-dropdown-section ">
                        <h5>Staff Picks</h5>
                        <ul class="nav-sub-menu">
                          <a href="#"> <li>Best Sellers</li> </a>
                          <a href="#"> <li>Best Bath Storage</li> </a>
                          <a href="#"> <li>Modern Designs</li> </a>
                          <a href="#"> <li>Occassions</li> </a>
                        </ul>
                      </section>

                      <section class="nav-dropdown-section nav-dropdown-section-last">
                        <h5>Just In!</h5>
                        <ul class="nav-sub-menu">
                          <img src="/images/homeworks-bath-towels-01.jpg" class="nav-sub-menu-images" alt="">
                          <img src="/images/homeworks-bath-towels-02.jpg" class="nav-sub-menu-images" alt="">
                          <img src="/images/homeworks-bath-01.jpg" class="nav-sub-menu-images" alt="">
                        </ul>
                      </section>

                    </div>
                  </li>
                  <!-- Next Link Starts Here -->
                  <li>
                    <a href="#" class="test"> Lights</a>

                      <div class="nav-dropdown-menu">
                        <section class="nav-dropdown-section">
                          <h5>Popular Lighting</h5>
                          <ul class="nav-sub-menu">
                            <a href="#"> <li>Pendant Lights</li> </a>
                            <a href="#"> <li>Tabletop Lamps</li> </a>
                            <a href="#"> <li>Floor Lamps</li> </a>
                            <a href="#"> <li>Outdoor Lights</li> </a>
                          </ul>
                        </section>

                        <section class="nav-dropdown-section ">
                          <h5>Staff Picks</h5>
                          <ul class="nav-sub-menu">
                            <a href="#"> <li>Best Sellers</li> </a>
                            <a href="#"> <li>Best Pendant Fixtures</li> </a>
                            <a href="#"> <li>Colonial Lights</li> </a>
                            <a href="#"> <li>Occassions</li> </a>
                          </ul>
                        </section>

                        <section class="nav-dropdown-section nav-dropdown-section-last">
                          <h5>Just In!</h5>
                          <ul class="nav-sub-menu">
                            <img src="/images/homeworks-hanging-lights-02.jpg" class="nav-sub-menu-images" alt="">
                            <img src="/images/homeworks-hanging-lights-03.jpg" class="nav-sub-menu-images" alt="">
                            <img src="/images/homeworks-hanging-lights-01.jpg" class="nav-sub-menu-images" alt="">
                          </ul>
                        </section>

                      </div>
                    </li>
                    <!-- Next Link Starts Here -->
                    <li>
                      <a href="#" class="test"> Outdoor</a>

                        <div class="nav-dropdown-menu">
                          <section class="nav-dropdown-section">
                            <h5>Popular Outdoor</h5>
                            <ul class="nav-sub-menu">
                              <a href="#"> <li>Patio Furniture</li> </a>
                              <a href="#"> <li>Garden & Planters</li> </a>
                              <a href="#"> <li>Outdoor Decor</li> </a>
                              <a href="#"> <li>Outdoor Dining</li> </a>
                              <a href="#"> <li>Grilling & Entertaining</li> </a>
                            </ul>
                          </section>

                          <section class="nav-dropdown-section ">
                            <h5>Staff Picks</h5>
                            <ul class="nav-sub-menu">
                              <a href="#"> <li>Best Sellers</li> </a>
                              <a href="#"> <li>Ahri Collection</li> </a>
                              <a href="#"> <li>Best for Grilling</li> </a>
                              <a href="#"> <li>Occassions</li> </a>
                            </ul>
                          </section>

                          <section class="nav-dropdown-section nav-dropdown-section-last">
                            <h5>Just In!</h5>
                            <ul class="nav-sub-menu">
                              <img src="/images/homeworks-outdoor-patio-01.jpg" class="nav-sub-menu-images" alt="">
                              <img src="/images/homeworks-fern-planter-02.jpg" class="nav-sub-menu-images" alt="">
                              <img src="/images/homeworks-fern-planter-01.jpg" class="nav-sub-menu-images" alt="">
                            </ul>
                          </section>

                        </div>
                      </li>
                      <!-- Next Link Starts Here -->
                      <li>
                        <a href="#" class="test"> Accessoires</a>

                          <div class="nav-dropdown-menu">
                            <section class="nav-dropdown-section">
                              <h5>Popular Accessories</h5>
                              <ul class="nav-sub-menu">
                                <a href="#"> <li>Wall Decor</li> </a>
                                <a href="#"> <li>Outdoor Decor</li> </a>
                                <a href="#"> <li>Home Accessories</li> </a>
                                <a href="#"> <li>Kitchen Accessories</li> </a>
                              </ul>
                            </section>

                            <section class="nav-dropdown-section ">
                              <h5>Staff Picks</h5>
                              <ul class="nav-sub-menu">
                                <a href="#"> <li>Best Sellers</li> </a>
                                <a href="#"> <li>Staff Picks Best Decor</li> </a>
                                <a href="#"> <li>Summer Decor</li> </a>
                                <a href="#"> <li>Occassions</li> </a>
                              </ul>
                            </section>

                            <section class="nav-dropdown-section nav-dropdown-section-last">
                              <h5>Just In!</h5>
                              <ul class="nav-sub-menu">
                                <img src="/images/homeworks-faux-flower-centerpiece-01.jpg" class="nav-sub-menu-images" alt="">
                                <img src="/images/homeworks-mirror-01.jpg" class="nav-sub-menu-images" alt="">
                                <img src="/images/homeworks-candle-holder-01.jpg" class="nav-sub-menu-images" alt="">
                              </ul>
                            </section>

                          </div>
                        </li>
        </ul>
      </div>


    </header>
  </nav>

  <body>
    <div class="container">
