
<%- include("partials/header.ejs") %>

<section class="HP-Hero Full-Width">
  <img src="/images/homeworks-HP-Hero.jpg" alt="">
  <div class="HP-Hero-Overlay">
    <h1>20</h1> <h1 class="sub-h1"><span class="percnt-symbol">&percnt;</span> OFF</h1>
    <h4>SELECTED LINES</h4>
    <h6>Mid Season Sale!</h6>

    <a href="#" class="HP-Hero-CTA">Shop Now!</a>
  </div>
</section>

<div class="HP-Multi-Banner">
  <section class="HP-Sub-Zones">
    <img src="/images/HP-Zone-2-Image.jpg" class="HP-Banner-Image" alt="">
    <h5>Living Room Furnishings</h5>
    <h6>From $69.99</h6>
  </section>

  <section class="HP-Sub-Zones">
    <img src="/images/HP-Zone-2-Image-2.jpg" class="HP-Banner-Image" alt="">
    <h5>Patio Furniture</h5>
    <h6>From $109.99</h6>
  </section>

  <section class="HP-Sub-Zones">
    <img src="/images/HP-Zone-2-Image-3.jpg" class="HP-Banner-Image" alt="">
    <h5>Garden & Planters</h5>
    <h6>From $39.99</h6>
  </section>
</div>

<section class="HP-Zones Full-Width">
  <img src="/images/HP-Zone-3-Image.jpg" alt="">
  <div class="HP-Zone-Overlay">
    <h2>Category Here</h2>
    <h6>Promo text here!</h6>
    <a href="#" class="HP-Zone-CTA">Shop Category</a>
  </div>
</section>

<section class="HP-Zones Full-Width">
  <img src="/images/HP-Zone-4-Image.jpg" alt="">
  <div class="HP-Zone-Overlay">
    <h2>Category Here</h2>
    <h6>Promo text here!</h6>
    <a href="#" class="HP-Zone-CTA">Shop Category</a>
  </div>
</section>

<section class="HP-Zones Full-Width">
  <img src="/images/HP-Zone-5-Image.jpg" alt="">
  <div class="HP-Zone-Overlay">
    <h2>Category Here</h2>
    <h6>Promo text here!</h6>
    <a href="#" class="HP-Zone-CTA">Shop Category</a>
  </div>
</section>

<%- include("partials/footer.ejs") %>
